# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual Environment
bin/
include/
lib/
lib64/
share/
pyvenv.cfg

# VSCode
.vscode/

# JetBrains
.idea/

# Environment variables
.env

# Logs
*.log

# Temporary files
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# coverage
.coverage
htmlcov/
